@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding: 0px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif; 
}
body{
    width:100vw;
    height:100vh;
    background-color:white;
    display: grid;
    place-items:center;
}
.container{
    width:57%;
    box-shadow: 10px 10px 10px 5px rgb(70, 62, 62);
}
.header{
    display:flex;
    justify-content:space-between;
    padding: 10px; 
    margin: 5px; 
}
#month{
    color:black;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}
button{
    width:65px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
}
.header button{
    background-color:black;
    color: white;
}
.weekday{
    width: 99%;
    display: flex;
    background-color: black;
    color: white;
    font-size: 11px;
    font-weight: 300;
    margin: 5px;
}
.week{
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
}
.calender{
    width:700px;
    margin: auto;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}
.day{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 90px;
    height: 45px;
    padding: 8px;
    cursor: pointer;
    margin: 5px;
    background-color: rgb(245, 245, 253); 
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: 2px 2px 2px 2px rgb(212, 209, 209);
}
.day:hover{
    background-color: black;
    color:white;
}
#currentDate{
    background-color: aqua;
}
.event, .holiday{
    font-size: 10px;
    padding: 4px;
    background-color: gray;
    color: blanchedalmond;
    border-radius: 2px;
    max-height: 50px;
    overflow: hidden;
}
.holiday{
  background-color: rgb(6, 124, 6);
}
.plain{
    cursor: default;
    box-shadow: none;
}
#model{
    display:none;
    position: absolute;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0, 0,0.8);
    z-index: 10;
}
#addEvent, #viewEvents{
    display: none;
    width: 30%;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    padding: 25px;
}
#addEvent h2,#viewEvents h2{
    margin-bottom: 10px;
}
#addEvent input{
    padding:10px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#event_save{
    background-color: green;
}
.event_close{
    background-color: gray;
}
#event_delete{
    background-color: red;
}
#viewEvents p{
    margin-bottom: 10px;
}
.error{
    border-color: red;
}